modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 18115
externalPort = 3000

[[ports]]
localPort = 18116
externalPort = 3001

[userenv]

[userenv.shared]
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhsYWZ4aHloaXB4amdza2N5ZHVqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTczMTY1MSwiZXhwIjoyMDkxMzA3NjUxfQ.F7ARuGkJmAHZiJQ2eWWfFJNP6A53eSbTsjfFLKOnfZM"
EXPO_PUBLIC_API_URL = "https://e13ce523-bfed-4619-8eac-27ed5a9ad22f-00-289o5vquu880s.riker.replit.dev:8080"
REVENUECAT_PROJECT_ID = "proj6650b3cf"
REVENUECAT_TEST_STORE_APP_ID = "appe27fd9c6a2"
REVENUECAT_APPLE_APP_STORE_APP_ID = "app88b52cadd4"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "appd6c401b72e"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_rCMvELvOGNQsHhJymTgnERNsdcm"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_DTummZPpHwesMDtfLkHswDfnWHp"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_RXqaOvIbzxlIZxUwkLkFXdeIvUk"

[nix]
channel = "stable-25_05"
